body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: white;
}

.header {
  background-color: #21C08B;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 200px;
  margin: 10px 0 0 10px;
}

.menu {
  padding-right: 30px;
  width: 100px;
}

.menu-profile  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.menu:hover .menu-items {
  display: block;
}

.menu-profile img {
  width: 30px;
}

.menu-items {
  position: absolute;
  display: none;
}

.menu-items ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

.menu-items a {
  text-decoration: none;
  color: white;
}

.menu-items a:hover {
  text-decoration: underline;
}

.login {
  background: linear-gradient(#21C08B, #8F57ED);
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  padding: 0 30px;
  min-height: calc(100vh - 200px)
}

.login-container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login-container-form {
  display: flex;
  flex-direction: column;
}

.login-container-form label {
  font-size: 14px;
}

.login-container-remember {
  display: flex;
  justify-content: space-between;
}

.login-container-remember a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login-container-remember a:hover {
  text-decoration: underline;
}

.login-container-social-media > div{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-container-social-media img{
  width: 30px;
  margin-right: 10px;
}

.login-container-register {
  font-size: 14px;
}

.login-container-register a {
  font-size: 16px;
  font-weight: bold;
  color:white;
  text-decoration: none;
}

.login-container-register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  padding: 0 20px;
  height: 50px;
}
::placeholder {
  color: white;
  font-family: 'Muli', sans-serif;
}

input[type='text'] {
  color: white;
  font-family: 'Muli', sans-serif;  
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold; 
  height: 50px;
  letter-spacing: 1;
  margin: 10px 0;
}

.footer {
  background-color: #8F57ED;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%
}

.footer a {
  color: white;
  font-size: 14px;
}